<div class="bisection mt-5">
    <h1 style="font-size: 4rem">Bisekshn usuli</h1>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="bisection__box d-flex justify-content-between align-items-center mb-4">
                <h4>Ko`phad ko'rinishidagi tenglamalar uchun</h4>
                <a href="/page/equation" style="font-size:18px;" class="btn btn-success">Kirish</a>
            </div>
            <div class="bisection__box d-flex justify-content-between align-items-center mb-4">
                <h4>Triganometrik tenglamalar ustida amallar bajarish</h4>
                <a href="/page/equation2" style="font-size:18px;" class="btn btn-success">Kirish</a>
            </div>
            <div class="bisection__box d-flex justify-content-between align-items-center mb-4">
                <h4>Logorifmik tenglamalar ustida amallar bajarish</h4>
                <a href="/page/equation3" style="font-size:18px;" class="btn btn-success">Kirish</a>
            </div>
        </div>
    </div>
</div>