
<h1 class="mb-4">Triganometrik tenglamalar amallar bajarish</h1>
<hr>

<form action="/page/create" method="post" class="form d-flex align-items-center">
    <span>N:</span><input type="number">
    <a href="/page/create" class="btn btn-warning ms-3">Kiritish</a>
</form>




