
<div class="d-flex justify-content-between align-items-center">
<h1 class="mb-4">Ko'phadlar ustida amallar bajarish</h1>
<a type="button" href="/page/view" class="btn btn-warning d-none result">Natijani ko'rish</a>
</div>
<hr>

<div class="form d-flex align-items-center mb-5">
    <div>
        <h4>Tenglamaning ko'rinishi:</h4>
        <h5>P<sub>n</sub>(x) = a<sub>0</sub>*x <sup>n</sup> + a<sub>1</sub>*x <sup>n-1</sup> + a<sub>2</sub>*x <sup>n-2</sup> + ... + a<sub>n</sub></h5>
    </div>
</div>

<div class="form d-flex align-items-center mb-5">
    <div style="width: 100%;">
        <div class="d-flex justify-content-between align-items-center">
            <h4>Ko'pxad darajasi N ga teng bo'lgan tenglamaning qiymatlarini kiriting.</h4>           
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Qiymat kiritish</button>
        </div>
    </div>
</div>


<div class="modal fade col-8" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Qiymat kiriting:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">        
                <form  name="math" action="/page/equation" >
                    <div class="mb-2">
                        <h4>Tenglama:</h4>
                        <h5>P<sub>n</sub>(x) = a<sub>0</sub>*x <sup>n</sup> + a<sub>1</sub>*x <sup>n-1</sup> + a<sub>2</sub>*x <sup>n-2</sup> + ... + a<sub>n</sub></h5>
                        <br>                            
                    </div>
                    <div class="mb-2">
                        <label for="recipient-name" class="col-form-label"><strong>N:</strong></label>
                        <input placeholder="tenglamani ko'phadining qiymatini kiriting" id="num" name="n" type="number" oninput="changeNumber(event)" class="form-control" id="recipient-name">
                    </div>
                    <div id="list"></div>
                    <div class="mb-2">
                        <label for="recipient-name" class="col-form-label"><strong>a ning qiymatini kiriting:</strong></label>
                        <input type="number" name="a" class="form-control" id="recipient-a">
                    </div>
                    <div class="mb-2">
                        <label for="recipient-name" class="col-form-label"><strong>b ning qiymatini kiriting:</strong></label>
                        <input type="number" name="b" class="form-control" id="recipient-b">
                    </div>
                    <div class="mb-2">
                        <label for="recipient-name" class="col-form-label"><strong>E(aniqlik):</strong></label>
                        <input type="number" name="E" class="form-control" id="recipient-E">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" onclick="sendMesage()">Hisoblash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<a href="/" class="btn btn-warning mt-4 ms-auto">Bosh sahifaga qaytish</a>
<script>
        async function sendMesage(){
            let form=document.forms.math
            let listinput=Array.from(document.querySelectorAll('#list .item input'))
            let aValue=document.getElementById('recipient-a').value
            let b=document.getElementById('recipient-b').value
            let E=document.getElementById('recipient-E').value
            console.log(aValue,b,E)
            console.log(listinput)
            let arr=[]
            arr=listinput.map(item=>{
                if(item.value!=='')
                return parseFloat(item.value)
                else 0
            })

            let info = {
                a:parseFloat(aValue),
                b:parseFloat(b),
                E:parseFloat(E),
                n: 3,  
                arr:arr
            };

            console.log(info)
            fetch("http://localhost:3000/page/equation", {
                method: "post",
                headers: {
                    'Content-Type': 'application/json'
                },
                //make sure to serialize your JSON body
                body: JSON.stringify(info)
                })
                .then( (response) => { 
                    console.log(response)
                });
                form.reset()

                document.getElementById('exampleModal').classList.remove('show')
                document.querySelector('.modal-backdrop').classList.remove('show')
                document.querySelector('.result').classList.remove('d-none')
        }
      
        function changeNumber(e){
            let num=e.target.value
            let list=document.getElementById('list')
            list.innerHTML=''
            if(num>0){
                for(let i=0; i<=num;i++){
                    list.innerHTML+=`
                    <div class="mb-2 item">
                        <label for="recipient-name" class="col-form-label"><strong>a<sub>${i}</sub> :</strong></label>
                        <input type="number" name='a${i}' class="form-control recipient-name">
                    </div>
                    `
                }
            } 
        }
    </script>